
任务卡/第9章 Linux与部署上线/第1节 VM/课件与笔记/工具/SecureCRTSecureFX_HH_x86_7.0.0.326/Data/Settings/VanDykePortable.reg
任务卡/第9章 Linux与部署上线/第1节 VM/课件与笔记/工具/SecureCRTSecureFX_HH_x86_7.0.0.326/Data/Settings/Config/SSH2.ini
